/* styles.css */

/* General body styling */
*{
  color:white;
}

body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

/* Styling for the background image container */
.bg {
  margin:0;
  width: 100%;
  min-height: 100%;
  background-image: url("/static/360_F_270031550_NF8Sr62AOYMEMf2UMKUlkJ6GMO5gDU9R.jpg"); /* Adjusted path */
  background-size:cover;
}

.mymargin{
  margin-top: 5px;
  margin-left: 5px;
  margin-bottom: 5px;
}

.predict{
  background-color: white;
  color:black;
  border:2px solid black;
  border-radius: 10%;
}
